#cloud-config
ssh_authorized_keys:
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAINAYkl3aznbznijM+wy3VrTgStEQpgPaub8ipdLpXcfs server@bodar.com
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILL50PYMCNm5O8NYO31DO7qlBj9L7+M+VUINyxz/S89C dan@dan-blade
  - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIGbziDklsaJvpmlHKYKkfpnu2Zbpf/a46ctzLoT89WCN dan@dan-desktop

write_files:
  - path: /etc/environment
    content: |
      TZ="Europe/London"
    append: true

#  - path: /etc/ssh/sshd_config
#    content: |
#      PasswordAuthentication no
#    append: true

  - container: network
    path: /etc/dhcpcd.conf
    content: |
      hostname
    append: true

  - container: network
    path: /etc/hostname
    content: |
      new-server

hostname: new-server

mounts:
  - ["/dev/sda1", "/data", "ext4", ""]
